Oppimispäiväkirja

Vikko 1

En päässyt osallistumaan ensimmäisen luentoviikon opetukseen livenä, mutta katsoin luentotallenteen jälkikäteen. Mielestäni luento ei ollut kovinkaan interaktiivinen, joten en kokenut ainakaan ensimmäisen viikon osalta suurta arvon menetystä, vaikka en päässytkään osallistumaan luennolle. Tästä päästäänkin ensimmäiseenluentojen kehitysehdotukseeni:

1) Toivoisin luennoille edes jonkun interaktiivisen osan. Varsinkin näin etänä pelkkää luennointia on välillä todella puuduttavaa kuunneela, vaikka asia sinänsä olisikin mielenkiintoista.

Luennolla oli paljon ennestään tuttua asiaa, kuten datatieteen osa-alueet ja datan laadun komponentit. Olin kuullut jo ennen luentoa, että datatiede yhdistää viestinnän, tilastotieteen, ohjelmoinnin ja liiketoiminnan. Koska osa-alueita on monia, on datatiedettä järkevintä toteuttaa tiimeissä, sillä harva hallitsee kaikki osa-alueet täydellisesti. Luennolla keskusteltiin myös Pythonin käyttämisestä datatieteen työvälineenä ja vertailtiin sitä käyttöliittymällisten järjestelmien käyttöön, kuten power BI:hin. Molemmat lähestymistavat olivat minulle tuttuja, mutta en ollut tullut ajatelleeksi näiden vertailua keskenään, sillä mielestäni lähestymistavat vastaavat melko erilaisiin ongelmiin. Luennolla kuitenkin todettiin Pythonin eduiksi toistettavuus, mahdollisuus isompien datamassojen käsittelyyn, ylipäätään enemmän mahdollisuuksia datan käsittelyyn, sekä yhteisön tuki netissä. Tiedostin nämä Pythonin edut jo aikaisemminkin ja Stack Overflown tuki onkin ollut minullekin korvaamatonta useissa aikaisemmissa koulu- ja työprojekteissa.

Mielenkiintoisena asiana minulle jäi luennolta mieleen ajatus siitä, kuka todellisuudessa pääsee käsiksi hypetettyihin suuriin datamassoihin. Luennolla mainittiin, että suurin osa datasta on todellisuudessa vain suurten alustatrjoajien saatavilla. Tämä oli mielnkiintoinen näkökulma, sillä datan määrän kasvusta ollaan puhuttu jo ihan riittämiin eri kursseilla, mutta todellisuus on kuitenkin se, ettei kaikilla ole samanlaisia mahdollisuuksia datan hyödyntämiseen.

En päässyt osallistumaan myöskään perjantain koodiklinikalle, mutta katsoin siitäkin tulleen tallenteen jälkikäteen. Koodiklinikalla kaikki oli käytännössä uutta asiaa minulle. 

Viikolla oppimani asiat:

1) Tosiasia siitä, ketkä oikeasti pääsevät käsiksi hypetettyihin "valtaviin datamassoihin"
2) Datasetin avaaminen ja tarkastelu JupyterLab ympäristössä


Alla olevat koodiesimerkit on tehty ensimmäisen koodiklinikan esimerkkien pohjalta, omaa koodia ei ole vielä kirjoitettu.

In [7]:
# Declare the libraries that will be used
import pandas as pd
# Used to plot the results
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [21]:
url = 'https://github.com/jodatut/2020/raw/master/koodiesimerkit/SalesJan2009.csv'

# Use pandas to import data
orig_df = pd.read_csv(url)

# To keep original dataframe for referencing
df = orig_df.copy()
print('List of attributes:', df.columns.values.tolist())

List of attributes: ['Transaction_date', 'Product', 'Price', 'Payment_Type', 'Name', 'City', 'State', 'Country', 'Account_Created', 'Last_Login', 'Latitude', 'Longitude']

In [22]:
print(df.head())

  Transaction_date   Product  Price Payment_Type               Name  \
0      1/2/09 6:17  Product1   1200   Mastercard           carolina
1      1/2/09 4:53  Product1   1200         Visa             Betina
2     1/2/09 13:08  Product1   1200   Mastercard  Federica e Andrea
3     1/3/09 14:44  Product1   1200         Visa              Gouya
4     1/4/09 12:56  Product2   3600         Visa            Gerd W

                           City     State         Country Account_Created  \
0                      Basildon   England  United Kingdom     1/2/09 6:00
1  Parkville                           MO   United States     1/2/09 4:42
2  Astoria                             OR   United States    1/1/09 16:21
3                        Echuca  Victoria       Australia   9/25/05 21:13
4  Cahaba Heights                      AL   United States  11/15/08 15:47

     Last_Login   Latitude   Longitude
0   1/2/09 6:08  51.500000   -1.116667
1   1/2/09 7:49  39.195000  -94.681940
2  1/3/09 12:32  46.188060 -123.830000
3  1/3/09 14:22 -36.133333  144.750000
4  1/4/09 12:45  33.520560  -86.802500

In [23]:
print(df.dtypes)

Transaction_date     object
Product              object
Price                 int64
Payment_Type         object
Name                 object
City                 object
State                object
Country              object
Account_Created      object
Last_Login           object
Latitude            float64
Longitude           float64
dtype: object

In [29]:
df

,Transaction_date,Product,Price,Payment_Type,Name,City,State,Country,Account_Created,Last_Login,Latitude,Longitude
0,2009-01-02 06:17:00,P1,1200,Mastercard,carolina,Basildon,England,UNITED KINGDOM,2009-01-02 06:00:00,2009-01-02 06:08:00,51.500000,-1.116667
1,2009-01-02 04:53:00,P1,1200,Visa,Betina,Parkville,MO,UNITED STATES,2009-01-02 04:42:00,2009-01-02 07:49:00,39.195000,-94.681940
2,2009-01-02 13:08:00,P1,1200,Mastercard,Federica e Andrea,Astoria,OR,UNITED STATES,2009-01-01 16:21:00,2009-01-03 12:32:00,46.188060,-123.830000
3,2009-01-03 14:44:00,P1,1200,Visa,Gouya,Echuca,Victoria,AUSTRALIA,2005-09-25 21:13:00,2009-01-03 14:22:00,-36.133333,144.750000
4,2009-01-04 12:56:00,Product2,3600,Visa,Gerd W,Cahaba Heights,AL,UNITED STATES,2008-11-15 15:47:00,2009-01-04 12:45:00,33.520560,-86.802500
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2009-01-01 04:24:00,Product3,7500,Amex,Pamela,Skaneateles,NY,UNITED STATES,2008-12-28 17:28:00,2009-03-01 07:21:00,42.946940,-76.429440
996,2009-01-08 11:55:00,P1,1200,Diners,julie,Haverhill,England,UNITED KINGDOM,2006-11-29 13:31:00,2009-03-01 07:28:00,52.083333,0.433333
997,2009-01-12 21:30:00,P1,1200,Visa,Julia,Madison,WI,UNITED STATES,2008-11-17 22:24:00,2009-03-01 10:14:00,43.073060,-89.401110
998,2009-01-02 06:17:00,P1,1200,Mastercard,carolina,Basildon,England,UNITED KINGDOM,2009-01-02 06:00:00,2009-01-02 06:08:00,51.500000,-1.116667
999,2009-01-02 04:53:00,P1,1200,Visa,Betina,Parkville,MO,UNITED STATES,2009-01-02 04:42:00,2009-01-02 07:49:00,39.195000,-94.681940

In [30]:
# Use general apply function
caps = lambda x: x.upper()

# def caps(x):
#     return x.upper()

df['Country'] = df['Country'].apply(caps)

def test(x):
    if x == "Product1":
        return "P1"
    else:
        return x

df['Product'] = df['Product'].apply(test)

In [33]:
# New column to calculate logins within a week
df['Login_week'] = ""

def lastweek(x):
    date = pd.Timestamp(2009, 2, 2)
    date_diff = pd.Timedelta(date-x).days
    if date_diff < 7:
        return "Last week"
    else:
        return "Not last week"
    
df['Login_week'] = df['Last_Login'].apply(lastweek)

In [34]:
print(df[ df['Login_week']=='Last week' ])

       Transaction_date   Product  Price Payment_Type        Name  \
289 2009-01-26 03:43:00        P1   1200   Mastercard       Wendy
290 2009-01-26 03:49:00  Product2   3600   Mastercard        Jane
291 2009-01-11 13:16:00  Product2   3600         Visa      shelby
292 2009-01-22 15:32:00        P1   1200   Mastercard        Tara
293 2009-01-09 14:25:00        P1   1200         Amex       James
..                  ...       ...    ...          ...         ...
993 2009-01-22 14:25:00        P1   1200         Visa  Hans-Joerg
994 2009-01-28 05:36:00  Product2   3600         Visa  Christiane
995 2009-01-01 04:24:00  Product3   7500         Amex      Pamela
996 2009-01-08 11:55:00        P1   1200       Diners       julie
997 2009-01-12 21:30:00        P1   1200         Visa      Julia

                             City                       State         Country  \
289  Lake Mahopac                                          NY   UNITED STATES
290                          Biot  Provence-Alpes-Cote d'Azur          FRANCE
291  Plantation                                            FL   UNITED STATES
292                      Killiney                      Dublin         IRELAND
293                          Guer                    Brittany          FRANCE
..                            ...                         ...             ...
993                       Belfast            Northern Ireland  UNITED KINGDOM
994                   Black River                 Black River       MAURITIUS
995  Skaneateles                                           NY   UNITED STATES
996                     Haverhill                     England  UNITED KINGDOM
997  Madison                                               WI   UNITED STATES

        Account_Created          Last_Login   Latitude  Longitude Login_week
289 2009-01-26 03:10:00 2009-01-26 03:10:00  41.372220 -73.733890  Last week
290 2008-03-01 00:00:00 2009-01-26 03:18:00  43.633333   7.100000  Last week
291 2009-01-11 12:20:00 2009-01-26 03:42:00  26.121940 -80.143610  Last week
292 2007-02-27 11:35:00 2009-01-26 04:32:00  53.252222  -6.112500  Last week
293 2008-04-07 00:00:00 2009-01-26 05:32:00  47.900000  -2.116667  Last week
..                  ...                 ...        ...        ...        ...
993 2008-11-10 12:15:00 2009-03-01 03:37:00  54.583333  -5.933333  Last week
994 2009-01-09 08:10:00 2009-03-01 04:40:00 -20.360278  57.366111  Last week
995 2008-12-28 17:28:00 2009-03-01 07:21:00  42.946940 -76.429440  Last week
996 2006-11-29 13:31:00 2009-03-01 07:28:00  52.083333   0.433333  Last week
997 2008-11-17 22:24:00 2009-03-01 10:14:00  43.073060 -89.401110  Last week

[709 rows x 13 columns]

Viikko 2

Toisella viikolla osallistuin luennolle livenä. Datan siivoaminen on minulle tuttu termi aikaisemmista opinnoistani. Käytännön tasolla en ole kuitenkaan päässyt kokeilemaan sitä Excelillä tehtävää työtä lukuunottamatta. Onkin mielenkiinotista päästä kokeilemaan tätäkin ohjelmallisesti. Datan laatua on korostettu tämän vuoden aikana melkeinpä jokaisella käymälläni kurssilla, joten siihen liittyvät aiheet eivät olleet minulle uusia. On kuitenkin mielenkiintoista päästä kokeilemaan näitä teoriassa opittuja asioita käytännössä, siitä minulla ei vielä ole kokemusta.

Mielestäni luennolla oli mielenkiintoista termien vertailua (liiketoimintatiedon hallinta vs datatiede), mutta oman kokemukseni mukaan termien vertailu ei välttämättä ole mielekästä. Tein itse kandityöni liiketoimintatiedon hallintaan liittyen ja havaitsin tietoa etsiessäni, että termejä (BI, business analytics, data analytics…) käytettiin paljon ristiin eri tutkimuksissa.

Datan ostaminen ja rajapintojen käyttäminen olivat minulle tuttuja datan keräämisen keinoja, mutta datan raapiminen ja ryömiminen olivat minulle uusia asioita. Raavinnan eettisyys ja laillisuus olivat mielestäni mielenkiintoisia näkökulmia luennolla. Laillisuus ei toki mielestäni pitäisi olla kovinkaan moniselitteistä toisin kuin eettisyys. 

Viikon opit
1) Ruudun raavinta käsitteenä ja vähän käytännössäkin
2) Ryömiminen käsitteenä

Viikko 3

Osallistuin kolmannelle luennolle livenä. Koneoppimiseen liittyvä luento oli ehkäpä luennoista se, jota odotin eniten. Minulla on jonkin verran aikaisempaa kokemusta koneoppimisesta aikasisempien työkokemusteni vuoksi. Siksi koneoppimisen peruskäistteet, kuten suprvised ja unsupervised learning olivat minulle ennestään tuttuja. Myös koneoppimisen perus käyttötarkoitukset ja mallien opettaminen olivat minulle tuttuja asioita. Kuitenkin aikaisempi käytännön kokemukseni painottuu lähinnä kuvadataan ja siihen liittyviin kirjastoihin, kuten tensorflown object detection-ominaisuuksiin, joten toivon oppivani lisää numeerisen datan käsittelystä koneoppimisen avulla.